<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="https://yts.am/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">YTS..</a>
    <a href="https://www.imdb.com/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">ImDb..</a>
    <a href="https://www.netflix.com/in/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">NETFLIX</a>
    <a href="https://www.youtube.com/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Youtube</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Movie Recommender Engine</h1>
  <p class="w3-xlarge">Made by Aishwarya a.k.a nebulazee</p>
  <form action="goToRecom"><input type="submit" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" value="Get Started"></form>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      
       <h1>Movie Recommender in Python</h1>
      <h5 class="w3-padding-32">This movie recommender is programmed in python at backend .It makes use of matrix factorization algorithm alongside 
      item-item collaborative filtering to recommend the most similar items ,here in this case movies to the user based on the most similar movies to the word entered in the search box.</h5>

      <p class="w3-text-grey">Even if the movie entered in the search box is spelt wrongly, no worries pals b'coz my system makes use of another phenomenonal 
      algorithm i.e Edit Distance to find the most similar word to the word entered and recommending based on that word.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Get Started</h1>
      <h5 class="w3-padding-32">Future improvements can be like increasing the volume of training data,may be using paid data :) </h5>

      <p class="w3-text-grey">Well till then sit back and relax and get yourself started by clicking on GET STARTED button my friends.Happy Movies...:)</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life and Watch movies</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by Nebulazee (Aishwarya)</p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
